.blog-tile {
  background-color: lightblue;
  border-radius: 24px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 15px;
  margin: 15px;
}
.aprv-btn {
  border: none;
  background-color: green;
  color: white;
  float: right;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.aprv-btn:hover {
  background-color: rgb(3, 153, 3);
}
